// Variables //

// Media
$screen-rotate: url(/media/screen-rotation-button.svg);
$layer-arrow: url(/media/go-back-left-arrow.svg);
$close-icon: url(/media/close-button.svg);
$info-icon: url(/media/round.svg);

// Colors
$white: #fff;
$black: #373a3c;
$blue: #75bad3;

// Fonts
$font-size: 14px;

// Margins
$margin-base: 12px;

// Sizes
$btn-width: 65px;
$btn-height: 55px;

// Backgrounds
$portrait-background: rgba(#000, 0.8);