// Variables //

// Media
$screen-rotate: url(../media/screen-rotation-button.svg);
$layer-arrow-left: url(../media/go-back-left-arrow.svg);
$layer-arrow-right: url(../media/right-arrow-forward.svg);
$arc-arrow-right: url(../media/arc-arrow-right.svg);
$arc-arrow-left: url(../media/arc-arrow-left.svg);
$close-icon-black: url(../media/close-button-black.svg);
$close-icon-white: url(../media/close-button-white.svg);
$info-icon: url(../media/round.svg);

// Colors
$white: #fff;
$black: #373a3c;
$blue: #75bad3;

// Fonts
$font-size: 14px;

// Margins
$margin-base: 12px;

// Sizes
$btn-width: 65px;
$btn-height: 55px;

// Backgrounds
$portrait-background: rgba(#000, 0.8);